In [1]:
import numpy as np
import pandas as pd
import os
import seaborn as sns

In [2]:
print(os.listdir())

['Insurance_State_classify.ipynb', '.Rhistory', '.eclipse', '.config', 'Music', 'Untitled1.ipynb', 'iCloud Drive (Archive) - 1', '.DS_Store', '.r', 'eclipse', 'VirtualBox VMs', '.CFUserTextEncoding', '.tooling', 'Untitled.ipynb', '.zshrc', '.ServiceHub', '.templateengine', '.local', 'Creative Cloud Files', 'Projects', 'Pictures', '.pylint.d', '.atom', 'Cloudproject.ipynb', '.zsh_history', 'Untitled2.ipynb', '.p2', '.ipython', 'Desktop', 'Library', 'eclipse-workspace', '.matplotlib', '.oracle_jre_usage', 'iCloud Drive (Archive)', '.IdentityService', '.bash_profile.pysave', '.android', '.cups', '.bash_sessions', 'Public', 'Creative Cloud Files (archived) (1)', '.idlerc', '.RData', '.ssh', 'Movies', 'Applications', '.gradle', '.Rapp.history', 'opt', '.Trash', '.ipynb_checkpoints', '.jupyter', 'Documents', '.pyenv', '.mono', '.bash_profile', 'Downloads', '.python_history', '.cache', '.gitconfig', '.bash_history', '.ondmd7566', '.zsh_sessions', '.conda', '.ondmd7567']

In [3]:
df = pd.read_csv("https://bitcoin-project-data.s3.amazonaws.com/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")

In [4]:
df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [5]:
df.isnull().sum()

Timestamp                  0
Open                 1243608
High                 1243608
Low                  1243608
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [6]:
df.dropna(inplace= True)

In [7]:
df.to_csv("/Users/abhishekdesai/Desktop/cloudproject/bitcoinout.csv")